/* Configurações do componente palestra_actions na página palestra */

#palestra_actions {
    margin: 0 auto;
    width: 500px;
    font-size: 20px;
    text-align: center;
}

#inscritos,#anexos {
    margin: 0 auto;  
}

#anexos > a{
    color:black;
}

#palestra_botões{
    display:flex;
    width:200px;
    justify-content:space-around;
    margin: 10px auto 20px auto;
}

.inscritos_impar{
    background:hsla(0, 0%, 0%, 0.05);
}

.inscritos_par{
    background:hsla(0, 0%, 0%, 0.15);
}
