/* Configurações do componente palestras_title na página palestras */

/* Configuração do container para o título */
#palestras_title {
    display: inline-block;
    width:100%;
}

#palestras_panel {
    width: 450px;
    height: 100px;
    background-image: linear-gradient(to bottom, #ffffff, #fdfdfd, #fbfbfb, #f9f9f9, #f7f7f7);
    margin: 25px auto;   
}

/* Título */
#palestras_panel > h2 {
    text-align: center;
}

