/* Configurações do componente navbar_menu no layout main
 
O Tailwind não está otimizado para animações de translate e possui problemas com o tempo de transição. A animação como está aqui ocorre diferentemente pelas classes do Tailwind gerando bugs.
 
 A sugestão seria usar um plugin do Tailwind para isto mas a equipe decidiu mandar 
 estas configurações isoladamente pois não haveria necessidade de instalar uma nova 
 biblioteca só por causa de algumas linhas de código.
 
 Biblioteca sugerida:
 npm i tailwindcss-plugin-transitions
 */

@media screen and (max-width: 1024px) {
    .mobile_close {
        transform: translate(-100%, 0%);
        transition: 0s;
    }

    .mobile_open {
        transform: translate(0%, 0%);
        transition: 1s;
    }
}
