/* Configurações do componente panel no layout main */

/* Controlador para abertura e fechamento da navbar mobile */
#panel {
    display: none;
    float: right;
    width: 70px;
    height: 100%;
}

/* Elementos do controlador para abertura e fechamento da navbar mobile */
#panel > ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
}

#panel > ul > li > a{
    font-size:30px;
    text-decoration: none;
}

/* Configuração para ocultar o controlador para abertura e fechamento da navbar mobile caso o site não esteja na responsividade mobile */
.menu_open,
.menu_close {
    display: none;
}


@media screen and (max-width: 1200px) {
    .menu_open {
        display: initial;
    }        

    #panel {
        display: initial;
    }
}