/* Configurações do componente index_categorias na página index */

/* Configurações do flexbox */
#index_categorias {
    margin: 150px auto;
    width: 1020px;
    display: grid;
    grid-template-columns: 520px 520px;
    grid-row: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}

/* Configurações dos elementos filhos da flexbox */
.box {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
    width: 500px;
    height: 280px;
}

.box > div > a {
    color: white;
    text-decoration: none;
    background: none;
}

.box_eventos {
    background-image: url("/assets/img/site/eventos.jpeg");
    background-size: cover;
}

.box_palestras {
    background-image: url("/assets/img/site/palestras.jpeg");
    background-size: cover;
}

@media screen and (max-width: 1300px) {
    #index_categorias {
        width: 480px;
        grid-template-columns: 480px;
    }

    .box {
        width: 480px;
    }
}
