/* Configurações do componente warning na página index */

#index_warning {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;

    color: rgb(0, 0, 0);
    border: 2.5px solid black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
        to bottom,
        #ffffff 5%,
        #d6d6d6 100%
    );
    border-radius: 10px;
    display: block;
    text-shadow: 0px 2px 3px gray;
    padding: 20px 40px;
}

#index_warning > h2 {
    color: rgb(0, 0, 0);
}

#index_warning > span {
    font: 14px "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana,
        sans-serif;
}

#index_warning > button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor:pointer;
}

@media screen and (max-width: 1200px) {
    #index_warning {
        width: 350px;
    }
}
