/* Configuração do botão edit na página cursos */

.button_edit {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    border: 1px solid rgb(0, 102, 204);
    border-radius: 8px;
    background: rgb(0, 166, 255);
    background: -moz-linear-gradient(top, #00a6ff, #0066cc);
    background: linear-gradient(to bottom, #00a6ff, #0066cc);
    font: normal normal bold 14px arial;
    color: #ffffff;
    text-decoration: none;
}

.button_edit:hover,
.button_edit:focus {
    border: 1px solid #0080ff;
    background: #00c7ff;
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(0, 122, 245));
    background: linear-gradient(to bottom, rgb(0, 240, 255), rgb(0, 122, 245));
    color: #ffffff;
    text-decoration: none;
}

.button_edit:active {
    background: #0066cc;
    background: -moz-linear-gradient(top, #0066cc, #0066cc);
    background: linear-gradient(to bottom, #0066cc, #0066cc);
}

.button_edit:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA/klEQVRIie2VMQrCQBBFH2ohqS3SeQHxAHoAWw/gSUSEHMzKk1hIIhYWoo1ILJzVRSbjJNoIfhjCZGb/Wza7G/h1tb/otQTGwNpqmgI5UBpxAWaKeagvLEAwP1XEUTFPlUnNQ7GjNJ+Bvjw1xe97QAFMgJXkmu9DYfZJVUOkTGY+kHwoeWYN8gBaYhKWYxtBUql/BIjNQ+Q8l8fUO4BmXnLfRS5ZAM38qpiPmgC8Mx8Bh7qA+BBZ5l1gJzU3IJFcW5bX3RL3fgSo+qCNAXueV4W1W1RA5ZEWhWsjzmvpHaCRqQfguYtcY14BBff7ZNMAECCF1eD54ViRi8dfft0AW9uFr93hKucAAAAASUVORK5CYII=") no-repeat left center transparent;
    filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(0%) hue-rotate(240deg) brightness(111%) contrast(100%);
    background-size: 100% 100%;
    background-size: 100% 100%;
}
