/* Configuração do botão profissional na página cursos */

.button_profissional {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    border: 1px solid #0066cc;
    border-radius: 8px;
    background: rgb(0, 166, 255);
    background: -moz-linear-gradient(top, #00a6ff, #0066cc);
    background: linear-gradient(to bottom, #00a6ff, #0066cc);
    font: normal normal bold 14px arial;
    color: #ffffff;
    text-decoration: none;
}

.button_profissional:hover,
.button_profissional:focus {
    border: 1px solid #0080ff;
    background: #00c7ff;
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(0, 122, 245));
    background: linear-gradient(to bottom, rgb(0, 240, 255), rgb(0, 122, 245));
    color: #ffffff;
    text-decoration: none;    
    cursor: pointer;
}

.button_profissional:active {
    background: #0066cc;
    background: -moz-linear-gradient(top, #0066cc, #0066cc);
    background: linear-gradient(to bottom, #0066cc, #0066cc);
}

.button_profissional:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAsklEQVRIie2UQQ6CMBBFXwyrOYPRO3kAFx5Dl8aDcggxxoVuCmmhtvxSXfGShpDy+xg6FFYW8F4w7oABNDNEnfhi5t/kBB2wFyQGtIqgl6hVDGwKMifgWpgNCDbLsQMebu4WyZjLjHMSB+DpSfxKkgITxhF4RSQTQeNNtGJZ/aJnd72kHvoLP/lEJRRv8phYm26p2KYxAaR/tCqCFF/bNBdSBAE5weR0nCkZDsfaFazofAAK00UKReTHWAAAAABJRU5ErkJggg==") no-repeat left center transparent;
    filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(0%) hue-rotate(240deg) brightness(111%) contrast(100%);
    background-size: 100% 100%;
    transform: rotate(270deg);
}
