/* Configuração do input styled */

#warning_styled_input_container {
    display: none;
    margin-bottom: 10px;
}

#users_styled_input_container {
    display: none;
    margin-bottom: 10px;
}

#criar_palestra_styled_input_container {
    display: none;
    margin-bottom: 10px;
}

.styled_input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 5px;
    background: linear-gradient(
        to bottom,
        hsl(0, 0%, 100%) 5%,
        hsl(0, 0%, 84%) 100%
    );
}

.styled_warning {
    border-style: none;
    background: transparent;
    outline: none;
}

.styled_input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
        to right,
        #b294ff,
        #57e6e6,
        #feffb8,
        #57e6e6,
        #b294ff,
        #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.styled_input input {
    color: #505739;
    line-height: 2.4rem;
    vertical-align: middle;
    font-size: 14px;
    width: 350px;
    margin-left: 5px;
    border-bottom: #d6d6d6 solid;
}

.styled_input input::-webkit-input-placeholder {
    color: #505739;
}

.styled_input button {
    color: #505739;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
    font-size: 25px;
    padding-left: 5px;
    cursor: pointer;
}

.styled_input button:hover {
    color: #505739;
}

.styled_active{
	text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
