/* Configurações do componente my_account na página dashboard */

#my_account {
    display: inline-block;
    width: 100%;
    color:rgb(0, 0, 0);   
    text-align: center; 
}

#perfil {
    display:flex;
    width: 450px;
    height: 100px;
    background-image: linear-gradient(to bottom, #ffffff, #fdfdfd, #fbfbfb, #f9f9f9, #f7f7f7);
    margin: 25px auto;   
}

#avatar{  
    width: 20%;  
    height: 100px;
}

#avatar > img {
    width: 50px;
    height:50px;
}

#avatar > h4 {
    margin:15px auto 5px auto;
}

#perfil_info{
    width: 40%;  
    height: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#perfil_info > h5{
    margin:0 auto;
}

#perfil_password{
    width: 40%;  
    height: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#perfil_info > h5 > a{
    color:rgb(0, 0, 0);
}

#perfil_password > h5 > a{
    color:rgb(0, 0, 0);
}
