/* CSS Principal */

/* componentes da navbar no layout main */
@import "navbar/navbar.css";
@import "navbar/navbar_logo.css";
@import "navbar/navbar_menu.css";
@import "navbar/navbar_panel.css";
@import "navbar/footer.css";

/* componentes da página index */
@import "index/index_logo.css";
@import "index/index_categorias.css";
@import "index/warning.css";

/* componentes da página palestras */
@import "palestras/palestras_title.css";
@import "palestras/form_criar_palestras.css";
@import "palestras/form_pesquisar_palestras.css";
@import "palestras/timeline.css";

/* componentes da página palestra */
@import "palestra/palestra_nome.css";
@import "palestra/palestra_info.css";
@import "palestra/palestra_actions.css";
@import "palestra/form_editar_palestra.css";

/* botões & forms */
@import "buttons/delete.css";
@import "buttons/edit.css";
@import "buttons/join.css";
@import "buttons/leave.css";
@import "buttons/profissional.css";
@import "buttons/user.css";
@import "buttons/admin_button.css";
@import "buttons/styled_input.css";

/* componentes da página dashboard */
@import "dashboard/my_account.css";
@import "dashboard/carousel.css";

@import "fonts.css";


/* Configurações default e classes genéricas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background: #f7f7f7;
}

ul {
    list-style-type: none;
}

input[type=file] {
    background:white;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* Configurações mobile do container abaixo da mobile navbar em todas as páginas */
.no_margin,
.margin {
    margin-top: 0px;
}


@media screen and (max-width: 1200px) {
    .no_margin {
        margin-top: -100px;
    }

    .margin {
        margin-top: 0px;
    }
}